:root {
    --header-height: 8vh;
    --footer-height: 8vh;
    --main-content-height: calc(
        100vh - var(--header-height) - var(--footer-height)
    );
}
.main {
    display: flex;
    flex-direction: column;
}
.add-card {
    display: flex;
    margin: 0 auto;
}
.main-content {
    display: flex;
    min-width: 90vw;
    min-height: var(--main-content-height);
    flex-direction: row;
    justify-content: center;
}
