:root {
    --header-height: 8vh;
    --footer-height: 8vh;
    --main-content-height: calc(
        100vh - var(--header-height) - var(--footer-height)
    );
}

.container {
    display: flex;
    min-width: 60vw;
    min-height: var(--main-content-height);
    justify-content: center;
    flex-direction: row;
    align-content: center;
}
.todo-column {
    display: flex;
    width: 20vw;
    background: rgb(243, 245, 222);
    flex-direction: row;
    margin: 0px 5px;
    flex-wrap: wrap;
    align-content: flex-start;
}
.inprogress-column {
    display: flex;
    background: rgb(246, 173, 210);
    width: 20vw;
    flex-direction: row;
    margin: 0px 5px;
    flex-wrap: wrap;
    align-content: flex-start;
}
.completed-column {
    display: flex;
    width: 20vw;
    flex-direction: row;
    background: khaki;
    margin: 0px 5px;
    flex-wrap: wrap;
    align-content: flex-start;
}
