.card {
    margin: 5px;
    padding: 5px;
    word-wrap: break-word;
    overflow: auto;
    width: 150px;
    min-height: 150px;
    background: lightblue;
    display: inline;
    box-shadow: 1px 2px maroon;
}
