.header {
    height: 12vh;
    display: flex;
    background: rgb(131, 103, 199);
    text-align: center;
    flex-direction: column;
}

h1 {
    color: skyblue;
    align-self: flex-start;
}
h2 {
    color: rgb(86, 3, 173);
}
