.add-card-main {
    display: flex;
    flex-direction: column;
    margin: 3px;
    padding: 5px;
    width: 15vw;
    border: 2px solid black;
}

.txt-box {
    width: 150px;
    margin: 3px;
}

label {
    width: 150px;
}

.btn {
    color: green;
    width: 70px;
    margin: 3px;
    align-self: flex-end;
}
